<h2>Edit Personal Details</h2>
<%= form_for(@user) do |f| %>


    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname %>
    </div>
    <div class="field">
      <%= f.label :lastname%><br />
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label :sex%><br />
      <%= f.select "sex", options_for_select([ "Male", "Female" ], "Male") %>
    </div>
    <div class="field">
      <%= f.label :mobileno%><br />
      <%= f.text_field :mobileno %>
    </div>
    <div class="field">
      <%= f.label :address%><br />
      <%= f.text_area :address %>
    </div>
    <div class="field">
      <%= f.label :passportno%><br />
      <%= f.text_field :passportno %>
    </div>
    <div class="field">
      <%= f.label :pancardno%><br />
      <%= f.text_field :pancardno %>
    </div>
    <p>
      <% if @user.image.exists? %>
      <%= image_tag(@user.image.url,:height => 100,:width=>100)%><br/>
      <% end %>
      <%= f.label :image, "Attach an Image" %><br />
      <%= f.file_field :image %>
    </p>

    <div class="actions">
      <%= f.submit "submit" %>
    </div>
<% end %>
<%= link_to 'Back', :action=>'show',:controller=>'users',:id => @user.id %>